.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  user-select: none;
}

* {
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body {
  font-family: Jura;
  background-color: #f8f9fa;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: Franc;
  src: url(./fonts/FrancoisOne-Regular.ttf);
}

@font-face {
  font-family: Inter;
  src: url(./fonts/Inter-VariableFont_slnt\,wght.ttf);
}

@font-face {
  font-family: Jura;
  src: url(./fonts/Jura-Regular.ttf);
}

.font-franc {
  font-family: Franc;
}

.loading {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  background: white;
  color: black;
  text-align: center;
  padding: 10px 5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
}
.footer {
  text-align: center;
  background: black;
  color: white;
  text-align: center;
  padding: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid black;
}

.main-content {
  display: flex;
  flex: 1;
  padding-left: 15%;
  padding-right: 15%;
  background-color: white;
}
.content {
  width: 30rem;
}

.content-center {
  flex:1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em;
}

.width-100{
  width: 100%;
}


.product-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.product-checkbox {
  position: absolute;
  top: 7%;
  right:5%;
  transform: translateX(-50%);
  width: 24px;
  height: 24px;
  cursor: pointer;
  appearance: none;
  border-radius: 4px;
  background-color: #fff;
  transition: background-color 0.3s, border-color 0.3s;
}

.product-checkbox:checked {
  background-color: #d36b73;
  border-color: #4CAF50;
}

.product-checkbox:checked::after {
  content: '';
  display: block;
  width: 8px;
  height: 14px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
  margin-left: 6px;
  margin-top: 2px;
}


.list_product_item {
  position: relative;
  text-decoration: none;
  color: inherit;
  padding: 15px;
  width: 20%;
}

.list_product_item img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  margin-bottom: 10px;
  border-radius: 10px;
}

.list_product_item h3 {
  margin-top: 10px;
  margin-bottom: 5px;
  font-size: 1.2em;
  color: black;
  font-family: 'Montserrat', sans-serif;
}

.list_product_item p {
  margin-top: 5px;
  font-size: 1em;
  color: #666;
  font-family: 'Roboto', sans-serif;
}

.product-detail {
  text-align: center;
  flex: 1;
  padding: 1em;
  font-family: 'Roboto', sans-serif;
}

.product-detail h2 {
  font-size: 2em;
  margin-bottom: 0.5em;
  font-family: 'Montserrat', sans-serif;
  color: black;
}

.product-detail h3 {
  font-size: 1.5em;
  margin-bottom: 0.5em;
  font-family: 'Montserrat', sans-serif;
  color: #666;
}


.product-detail p {
  font-size: 1.2em;
  margin: 0.5em 0;
  color: #555;
}

.product-detail img {
  max-width: 300px;
  max-height: 300px;
  width: 100%;
  height: auto;
  object-fit: cover;
  margin: 20px 0;
  border-radius: 10px;
}

.product-link {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: end;
  text-decoration: none;
}

.controls {
  margin-bottom: 20px;
}

.search-bar {
  width: 250px;
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-size: 16px;
}

.sort-dropdown {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-size: 16px;
}

.loading {
  font-size: 18px;
  color: #555;
}

.form-control {
  width: 100%;
}

.nav-icon {
  justify-content: right;
}

.center-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  min-height: 10vh;
}

.login-form {
  display: flex;
  width: 100%;
  padding: 30px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  justify-content: center;
  align-items: center;
}

.inside-form {
  display: grid;
  row-gap: 40px;
  width: 50%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
}

.form-control {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.nav-button {
  background-color:black;
  color: #fff;
  border: none;
  width: 100%;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
}

.form-button {
  background-color: black;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
}

.nav-button:hover {
  background-color: #555;
}

.description-box {
  border: 1px solid #ddd;
  padding: 1em;
  border-radius: 5px;
  background-color: #f9f9f9;
  text-align: left;
  max-width: 400px;
  margin: 0 auto;
  overflow-wrap: break-word;
}

.delete-button {
  background-color: #f46f6f; /* Red color for delete */
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  margin-left: 10px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.delete-button:hover {
  background-color: #ff1a1a; /* Darker red on hover */
}

.delete-button:active {
  background-color: #e60000; /* Even darker red on click */
}

.delete-button:focus {
  outline: none;
  box-shadow: 0 0 3px 2px rgba(255, 0, 0, 0.5); /* Red shadow on focus */
}

.error {
  color: red;
}